* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --turquoise-color: #159a9c;
  --light-grey: #b4bec9;
  --dark-grey: #1e1e1e;
  --navy: #002333;
  --light-blue: #64a1bd;
  --blue-grey: #b4bec9;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: url("../images/creative-wallpaper-with-geometrical-shapes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */

.navbar {
  background: #000;
  padding: 20px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 0 15px;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  transition: 0.5;
  color: #fff;
}
.navbar ul li a:hover {
  color: var(--turquoise-color);
}

/* Hero */
.hero {
  padding: 200px 70px 70px;
}

.hero img {
  max-width: 300px;
}

.hero .intro {
  margin: 40px;
}

.hero .intro-header {
  font-style: italic;
}

.hero .intro-sub {
  padding: 10px 0px;
  font-weight: bold;
}

.hero .intro-main p {
  padding-bottom: 10px;
}

.hero .intro-base {
  padding: 10px 0px;
  font-style: italic;
}

.hero .links ul {
  display: flex;
}

.hero .links li {
  margin: 10px 20px 10px 0px;
}

.hero .links li i {
  margin-right: 15px;
}

/* Work */
.work-exp-section {
  padding: 0px 70px 70px;
}

.work-exp-section .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.work-header {
  align-self: flex-start;
  margin-top: 20%;
}

.work-header h1 {
  padding: 10px 0px;
}

.work-header p {
  width: 90%;
}

.work-exp-section .work-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 24px;
  align-items: stretch;
}

/* Projects */
.projects-section {
  padding: 0px 70px 70px;
}

.projects-section .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.proj-body {
  order: 1; /* Grid items on the left */
}

.projects-header {
  order: 2; /* Header on the right */
  align-self: flex-start;
  padding-left: 35px;
  margin: 50px
}

.projects-header h1 {
  padding: 10px 0px;
}

.projects-header p {
  width: 90%;
}

.projects-section .proj-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 24px;
  align-items: stretch;
}

/* Skills */
.skills-section {
  padding: 0px 70px 70px;
}

/* Footer */

.foot {
  background: var(--light-grey);
  padding: 20px 80px;
}

.foot .container {
  background: var(--light-grey);
  padding: 0 15px;
  justify-content: space-between;
}

.foot .container ul {
  display: flex;
}

.foot ul li {
  font-size: xx-large;
  padding: 0px 8px;
}

/* Utility Classes */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 40px;
  background: #fff;
  display: flex;
  align-items: center;
}

.btn {
  background: #000;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
}
