* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --turquoise-color: #159a9c;
  --light-grey: #b4bec9;
  --dark-grey: #1e1e1e;
  --navy: #002333;
  --blue-grey: #b4bec9;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--navy);
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */

.navbar {
  background: #000;
  padding: 20px;
  color: #fff;
}

.navbar h1 {
  font-family: "Kavivanar";
  color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  transition: 0.5;
  color: #fff;
}
.navbar ul li a:hover {
  color: var(--turquoise-color);
}

/* Hero */
.hero {
  padding: 70px 70px;
}

.hero .container {
  padding: 50px 40px;
  background: #fff;
  display: flex;
  align-items: center;
}

.hero img {
  max-width: 300px;
}

.hero .intro {
  margin: 40px;
}

.hero .intro-header {
  font-style: italic;
}

.hero .intro-sub {
  padding: 10px 0px;
  font-weight: bold;
}

.hero .intro-base {
  padding: 10px 0px;
  font-style: italic;
}

.hero .links ul {
  display: flex;
}

.hero .links li {
  margin: 10px 20px 10px 0px;
}

/* Footer */

.foot {
  background: var(--light-grey);
  padding: 35px 80px;
}

.foot .container ul {
  display: flex;
}

.foot ul li {
  font-size: xx-large;
  padding: 0px 8px;
}

/* Utility Classes */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: #000;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
}
